<!DOCTYPE html>
{% load staticfiles %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="static/common.css"/>
</head>
<body>
   <form action="/login" method="post" enctype="multipart/form-data">
       <p>
           <label for="username">用户名:</label>
           <input id="username" name="user" type="text"/>
       </p>
       <p>
           <label for="password">密码:</label>
           <input id="password" name="pwd" type="password"/>
           <input type="submit" value="提交"/>
           <span style="color:">{{ error_msg }}</span>
       </p>
   </form>
</body>
</html>